<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="/assets/img/avatar.JPG"/>
        </a>
        <dev class="blogtitle">
            <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a target="_blank" href="/about.html"> 关于我</a></li>
            <li>|</li>
            <li><a href="/">主页</a></li>
            <li>|</li>
            <li><a href="/menu.html">目录</a></li>
            <li>|</li>
            <li><a target="_blank" href="https://weibo.com/u/2403877962">微博</a></li>
            <li>|</li>
            <li><a target="_blank" href="https://book.douban.com/people/62344864/">豆瓣</a></li>
        </ul>
    </nav>
</header>
