<header class="bloghead">
    <div class="authorheader">
        <a class="avatar-link" href="/">
            <img alt="My Avatar" src="/assets/img/avatar.JPG"/>
        </a>
        <div class="blogtitle">
            <div class="blogtitle-main">
                <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            </div>
            <p class="site-tagline blogtitle-meta">
                <span>{{ site.data.blog.description }}</span>
            </p>
        </div>
    </div>

    <div class="header-side">
        <nav class="menu" role="navigation" aria-label="主导航">
            <a href="/">主页</a>
            <a href="/essays.html">散文</a>
            <a href="/notes.html">手记</a>
            <a href="/reading.html">阅读</a>
            <a href="/about.html">关于我</a>
        </nav>
    </div>
</header>
